<h1>Actualizar Vuelo</h1>
<form [formGroup]="productoForm" (ngSubmit)="actualizar()">
    <div class="row">
        <div class="col-sm-2">
            <label>Id del vuelo</label>
        </div>
        <div class="col-sm-4">
            <input validar type="text" id="id" name="id"
                placeholder="Id del vuelo" class="form-control" formControlName="id">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label>Fecha y hora de salida</label>
        </div>
        <div class="col-sm-4">
            <input validar type="datetime-local" id="timeDeparture" name="timeDeparture"
                placeholder="Fecha y hora de salida" class="form-control" formControlName="timeDeparture">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label>Destino:</label>
        </div>
        <div class="col-sm-4">
            <input validar type="text" id="arrival" name="arrival" placeholder="Destino" class="form-control"
                formControlName="arrival">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label>Costo:</label>
        </div>
        <div class="col-sm-4">
            <input validar type="text" id="cost" name="cost" placeholder="Costo" class="form-control"
                formControlName="cost">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <button role="button" class="btn btn-primary btn-lg">Actualizar</button>
        </div>
    </div>

</form>