<div class="card text-center">
  <div class="card-header">
    <h5>Crear Vuelo</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="flightForm" (ngSubmit)="crear()">
        <div class="row">
          <div class="col-sm-4">
            <label>Fecha y hora de salida</label>
          </div>
          <div class="col-sm-6">
            <input validar type="datetime-local" id="timeDeparture" name="timeDeparture" placeholder="Fecha y hora de salida" class="form-control"
              formControlName="timeDeparture">
          </div>
        </div>
      <div class="row">
        <div class="col-sm-4">
          <label>Destino:</label>
        </div>
        <div class="col-sm-6">
          <input validar type="text" id="arrival" name="arrival" placeholder="Destino"
            class="form-control" formControlName="arrival">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label>Costo:</label>
        </div>
        <div class="col-sm-6">
          <input validar type="number" step="0.01" id="cost" name="cost" placeholder="Costo"
            class="form-control" formControlName="cost">
        </div>
      </div>
      <p></p>
      <div class="card-footer">
        <a href="listar">
          <button role="button" class="btn btn-primary btn-dark">Crear</button>
        </a>
      </div>
    </form>
  </div>
</div>