<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img src="../../../../assets/svg/meteorologia.svg" alt="" width="70" height="70">
                    <div class="title">
                        <h4>Meteorología Aerocivil</h4>
                    </div>
                    <div class="text">
                        <span>El siguiente enlace lo redirige a la página de meteorología de la aerocivil.</span>
                    </div>
                    <a href="http://meteorologia.aerocivil.gov.co/obs_map">Ver</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img src="../../../../assets/svg/airplane.svg" alt="" width="70" height="70">
                    <div class="title">
                        <h4>Página Oficial Aeropuerto JMC</h4>
                    </div>
                    <div class="text">
                        <span>El siguiente enlace lo redirige a la página oficial del aeropuerto Jose María Córdova.</span>
                    </div>
                    <a href="http://www.aeropuertorionegro.co/">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>