<div class="card text-center">
  <div class="card-header">
    <h5>Eliminar Vuelo</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="deleteForm" (ngSubmit)="eliminar()">
      <div class="row">
        <div class="col-sm-4">
          <label>Id del vuelo a eliminar</label>
        </div>
        <div class="col-sm-6">
          <input validar type="text" id="id" name="id" placeholder="Id del vuelo a eliminar" class="form-control"
            formControlName="id">
        </div>
      </div>
      <p></p>
      <div class="card-footer">
        <div>
          <button role="button" class="btn btn-primary">Eliminar</button>
        </div>
      </div>
    </form>
  </div>
</div>